#Game Junk
asm/
background.png
backups/
chooser_0.png
concheckrmd
config.json
craftpresence/
crafttweaker.log
crash-reports/
ds_private_storage.json
.gamelaunched
knownkeys.txt
local/
logs/
manifest.json
mobs_0.png
mputils/
natives/
new.json
notes/
old.json
options.txt
patchouli_books/
patchouli_data.json
pings_0.png
.ReAuth
reports/
saves/
screenshots/
temp/
tmp/
usercache.json
usernamecache.json
voxelmap/
voxelMap/
waypoints_0.png

#Binaries
tools/TwitchExportBuilder
tools/TwitchExportBuilder.exe
tools/ModpackDownloader.jar
tools/ChangelogGenerator.jar

#Mod Version Controlling
#settings.ps1
mods/
!mods/hctm-3.0.1.jar
!mods/twa-0.1.jar

#Compiled Files
*.zip
