# Configuration file

##########################################################################################################
# categories
#--------------------------------------------------------------------------------------------------------#
# This section allows you to disable certain categories of content, based on a tag system.
##########################################################################################################

categories {
}


compat {
    B:"baubles:lib"=true
    B:"buildcraft:lib"=true
    B:"commoncapabilities:lib.slotlessInsertion"=true
    B:"infraredstone:lib"=true
    B:"opencomputers:lib"=true
    B:"quark:lib"=true
    B:"redstonepaste:lib"=true
    B:"rustic:lib"=true
}


##########################################################################################################
# overrides
#--------------------------------------------------------------------------------------------------------#
# Overrides can have one of three values: DEFAULT, ENABLE, DISABLE
# DEFAULT will enable the module based on your profile settings and dependency availability.
##########################################################################################################

overrides {
    # Wire support module [Profile: STABLE]
    S:lib.wires=DISABLE

    # Adds alternate ways to gather dyes, such as graphite created from charcoal. [Profile: FORCED]
    S:materials.dyes=DISABLE

    # Adds shards to glass. [Profile: FORCED]
    S:materials.shards=DISABLE

    # Allows dyeing item names in an anvil [Profile: FORCED]
    S:tweak.anvilDyeItems=ENABLE

    # Options to restore classic bonemeal behaviour and whitelist bonemealable blocks. [Profile: FORCED]
    S:tweak.bonemeal=ENABLE

    # Colored slime blocks! [Profile: FORCED]
    S:tweak.coloredSlimeBlocks=ENABLE

    # Makes double doors open at the same time upon right-clicking just one [Profile: FORCED]
    S:tweak.doubledoors=ENABLE

    # Allows a mob wearing armor comparable to yours to rarely spawn [Profile: FORCED]
    S:tweak.equalizeMobChances=DISABLE

    # Fixes player directional damage animation. [Profile: FORCED]
    S:tweak.fix.playerdamageanimation=ENABLE

    # Holding a map in one hand and a compass in another will make the compass point to the map's center. [Profile: FORCED]
    S:tweak.mapCompass=ENABLE

    # Allow type-based control of mob spawning. [Profile: FORCED]
    S:tweak.mobControl=ENABLE

    # Makes EntityItems picked up in order from oldest to youngest. [Profile: FORCED]
    S:tweak.orderedPickup=ENABLE

    # Allows players to push TNT around by hand or projectile [Profile: FORCED]
    S:tweak.pushableTnt=DISABLE

    # [Profile: FORCED, off by default!]
    S:tweak.remove.netherPortals=DISABLE

    # [Profile: FORCED, off by default!]
    S:tweak.remove.recipeBookButton=DEFAULT

    # [Profile: FORCED, off by default!]
    S:tweak.remove.sprinting=DISABLE

    # [Profile: FORCED, off by default!]
    S:tweak.remove.vanillaStyleTools=DISABLE

    # Harvest crops by right-clicking! [Profile: FORCED]
    S:tweak.rightClickHarvest=ENABLE

    # Left-clicking farmland with a shovel turns it back into dirt. [Profile: FORCED]
    S:tweak.shovelUntill=ENABLE

    # Forces a void overworld. [Profile: FORCED, off by default!]
    S:tweak.voidGenerator=DEFAULT

    # [Profile: FORCED]
    S:tweak.zorglasro=DEFAULT
}


